<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>931774399822-8ihle0ekop17vthoucoek0nlgi9nsu63.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.931774399822-8ihle0ekop17vthoucoek0nlgi9nsu63</string>
	<key>API_KEY</key>
	<string>AIzaSyBvgmrsh-9eVpjAyYwGnnMxUPcPlhKnM64</string>
	<key>GCM_SENDER_ID</key>
	<string>931774399822</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.muazzam.loginAuth</string>
	<key>PROJECT_ID</key>
	<string>loginauth-17ca9</string>
	<key>STORAGE_BUCKET</key>
	<string>loginauth-17ca9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:931774399822:ios:1e2c2ab5e860200c58ca1f</string>
</dict>
</plist>